@using System.Linq.Dynamic.Core
@inherits DataGridDemoTreatmentCardGridModel
@inject IDataAccessService _dataAccessService

@* Example modals*@
<ModalDemoVisitEntry @ref="@visitModalParentRef"
                     TreatmentCardEntryModel="@treatmentCardEntryModel"
                     DataGridParentRef="@dataGridParentRef"
                     OnVisitFormSubmission="HandleFormSubmission" />

<ModalDemoCommentEntry @ref="@commentModalParentRef"
                       TreatmentCardEntryModel="@treatmentCardEntryModel"
                       DataGridParentRef="@dataGridParentRef"
                       OnCommentFormSubmission="HandleFormSubmission" />

<div style="display:flex;justify-content:space-evenly">
    <div style="width:95rem">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Gap="10px" class="mt-2 mb-4">
        <div class="dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="padding:0.5rem 1rem" @onclick:preventDefault="true">
                <img src="assets/images/addnewrowbutton.svg" width="20" height="20" />
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="#" @onclick="() => visitModalParentRef.visitModalRef.Open()" @onclick:preventDefault="true">Add A Visit</a></li>
                <li><a class="dropdown-item" href="#" @onclick="() => commentModalParentRef.commentModalRef.Open()" @onclick:preventDefault="true">Add A Comment</a></li>
            </ul>
        </div>
    </RadzenStack>

    <DataGridRadzen @ref="@dataGridParentRef"
                    Data=@treatmentCardGridEntriesData
                    TType="TreatmentCardGrid"
                    AllowSorting=false
                    AllowPaging=false
                    IsLoading="@loadingTreatmentCardGrid"
                    LoadData="@LoadTreatmentCardGridEntries"
                    QueryCount="@count"
                    CellRender="@CellRender"
                    StartingColumnWidth="200px"
                    MaxDataGridHeight="500px">

        <CustomColumnsMarkup>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Date" Title="Date" FormatString="{0:MM/dd/yyyy}"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Type" Title="T" Width="70px"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Asst" Title="ASST">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.Asst
                    </span>
                </Template>
            </RadzenDataGridColumn>

            @* Chosen column to override for comment entry*@
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Proc" Title="PROC">
                <Template Context="treatment">
                    @if (treatment.Type == "V")
                    {
                        <span @ondblclick="() => OpenEditVisitModal(treatment)">
                            @treatment.Proc
                        </span>
                    }
                    else if (treatment.Type == "C")
                    {
                        <span @ondblclick="async () => await EditRow(treatment)" style="white-space:normal">
                            @treatment.Comment
                        </span>
                    }
                </Template>
                @* If column entry, bind in-line editing to comment property*@
                <EditTemplate Context="treatment">
                    @if (treatment.Type == "V")
                    {
                        <RadzenTextBox @bind-Value="treatment.Proc" Style="width:200px; display: block" Name="Proc" />
                    }
                    else if (treatment.Type == "C")
                    {
                        <RadzenTextArea @ref="radzenTextAreaRef" 
                                              Rows="1" 
                                              @oninput="@(() => AutoResizeTextAreaHeight(radzenTextAreaRef.Element))" 
                                              @bind-Value="treatment.Comment" 
                                              Style="width:20rem; display: block;" 
                                              Name="Comment" />
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="DR" Title="DR">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.DR
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="TxNotes" Title="Tx Notes">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.TxNotes
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="AWU" Title="AWU">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.AWU
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="BB" Title="BB">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.BB
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="AWL" Title="AWL">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.AWL
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="OH" Title="OH">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.OH
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="EL" Title="E/L">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.EL
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="NVT" Title="NVT">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.NVT
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="WKS" Title="WKS">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.WKS
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Chart" Title="Chart">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.Chart
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Property="Test" Title="Test">
                <Template Context="treatment">
                    <span @ondblclick="() => OpenEditVisitModal(treatment)">
                        @treatment.Test
                    </span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TreatmentCardGrid" Context="treatment" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="100px">
                <Template Context="treatment">
                    @* Example conditional for enabling/disabling deletion *@
                    @if (treatment.Date.Year >= 2020)
                    {
                        <button class="btn btn-light btn-flat btn-medium" style="cursor:pointer;@deleteButtonStyle" @onclick="@(args => DeleteRow(treatment))" @onclick:stopPropagation="true">
                            <img src="assets/images/trashicon-enabled.svg" width="21" height="21" />
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-light btn-flat btn-medium" style="cursor:default;@deleteButtonStyle">
                            <img src="assets/images/trashicon-disabled.svg" width="21" height="21" />
                        </button>
                    }
                </Template>
                <EditTemplate Context="treatment">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(treatment))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(treatment))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
        </CustomColumnsMarkup>
    </DataGridRadzen>
</div>
</div>