@page "/"
@inject IDataAccessService _dataAccessService

<PageTitle>Index</PageTitle>

<button type="button" class="btn btn-primary" onclick="@FetchPeopleTestData">Get Data</button>

@if (testData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var person in testData)
	{
		<h3>@person.FirstName @person.LastName | @person.Email</h3>
		<p>Status: @person.Status</p>
	}
}

@code {
	private List<PeopleTestData> testData;

	async Task FetchPeopleTestData(MouseEventArgs args)
	{
		testData = await _dataAccessService.GetPeopleTestData();
	}
}